.widget-wrapper {
    position: fixed;
    top: 200px;
    right: 0;
    background-color: $light-beige;
    border: 3px solid $second-beige;
    padding: 2rem;
    max-width: 300px;
    transform: translateX(0px);
    transition: all 0.2s;

    @include breakpoints($media-xs) {
        top: 120px;
        max-width: inherit;
    }

    & > div > div {
        max-width: 100%!important;
        & > div > div:last-child {
            padding-top: 10px; 
        }
    }

    &.closed {
        transform: translateX(400px);
    }

    & > button {
        cursor: pointer;
        background: transparent;
        border: none;
        @include posAbsProp(5px, auto, auto, 5px);
        @include fontProp(2rem, 800, $main-grey);
    }

}


